<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
 
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Prijava vozača</strong> 
      </h2>
      <img src="http://murataxi.com/images/app/login.png" class="login-img">
    </div>

    <!-- Login form -->
    <form class="list-form">
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          E-mail
        </ion-label>
        <input [(ngModel)]="email" name="email" type="email"/>
      </ion-item> -->
      <div class="box-element">
          <span class="text">Email:</span>
          <input [(ngModel)]="email" name="email" type="email" class="email-inp"/>
      </div>

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Lozinka
        </ion-label>
        <input [(ngModel)]="password" type="password" name="password"/>
      </ion-item> -->

      <div class="box-element">
        <span class="text">Lozinka:</span>
        <input [(ngModel)]="password" type="password" name="password" class="pass-inp"/>
    </div>
    </form>

    <!-- <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Zaboravljena lozinka?</strong></p> -->

    <div>
      <button class="login-btn" tappable (click)="login()">
        Prijavi se  
      </button>
    </div>
   </div>
</ion-content>
