ion-spinner {
    transform: scale(4);
}
.text-primary {
    margin-bottom: 40px;
}
.box-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .text {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .email-inp,
    .pass-inp {
        height: 40px;
        border: 1px solid #000;
        padding-left: 10px;
    }
}
.login-btn {
    width: 100%;
    background: #393939;
    color: #46e169;
    height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.login-img {
    max-width: 60%;
}