<ion-header>
  <ion-toolbar>
    <ion-title>search-ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=container4>
    <div *ngIf="!isDriveAccepted" >
      <p>Tražim slobodnog vozača...</p>
      <ion-spinner style="width:150px" color="tertiary" class="ion-color ion-color-tertiary ios spinner-lines hydrated"
        role="progressbar"></ion-spinner>
    </div>
    <div *ngIf="isDriveAccepted" >
        <p>Vaše vozilo je udaljeno:</p> 
        <p>{{kms}}</p> 
      </div>
  </div>
</ion-content>