<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drive">
            <h2><span jhiTranslate="taximuraApp.drive.detail.title">Drive</span> {{ drive.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taximuraApp.drive.fromLat">From Lat</span></dt>
                <dd>
                    <span>{{ drive.fromLat }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.drive.fromLong">From Long</span></dt>
                <dd>
                    <span>{{ drive.fromLong }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.drive.toLat">To Lat</span></dt>
                <dd>
                    <span>{{ drive.toLat }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.drive.price">Price</span></dt>
                <dd>
                    <span>{{ drive.price }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.drive.userRel">User Rel</span></dt>
                <dd>
                    <div *ngIf="drive.userRel">
                        <a [routerLink]="['/user-rel', drive.userRel?.id, 'view']">{{ drive.userRel?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="taximuraApp.drive.user">User</span></dt>
                <dd>
                    <div *ngIf="drive.user">
                        <a [routerLink]="['/user-rel', drive.user?.id, 'view']">{{ drive.user?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/drive', drive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
