/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.myClass .alert-wrapper {
  background: #393939;
  text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
  color: black;
  padding: 0;
  margin: 0;
}
.myClass .alert-head {
  background: #46e169;

  h2 {
    color: black;
    text-transform: uppercase;
    font-size: 22px;
  }
}
.sos {
  position: absolute;
  top: 10px;
  right: 10px;
}
ion-searchbar {
  height: 40px !important;
}

.item .sc-ion-label-ios-h {
  font-size: 13px !important;
  font-weight: bold;
}

.alert-message {
  padding-top: 20px !important;
  text-align: left !important;
  color: white !important;
  font-size: 14px !important;
}
.alert-button-inner {
  color: white !important;
  text-transform: uppercase !important;
}

.alert-ios .alert-message,
.alert-md .alert-message {
  max-height: 300px;
  color: orange;
}
.myClass .alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
  padding-top: 25px;
  --color: white !important;
  text-shadow: 6px 6px 18px 0px rgba(255, 255, 255, 0.3);
  line-height: 20px;
  font-size: 18px;
}

.myClass .alert-button-inner.sc-ion-alert-md {
  color: #46e169;
  font-size: 18px;
}
.searchbar-input {
  text-shadow: 6px 6px 18px 0px rgba(255, 255, 255, 0.3) !important;
  font-size: 13px !important;
}
.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  padding: 0px 0 0 35px;
  border-radius: 0 !important;
  border: 0;
}

.toolbar-title-default {
  position: relative;

  img {
    position: absolute;
    right: 12px;
    top: 20px;
    max-width: 60px !important;
  }
}
