<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-box">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Moje vožnje</ion-title>
      <img src="../../../assets/img/taxiLogo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngFor="let item of invoiceList" class="my-rides">
  <div class="details-ride">
    <span class="text">Polazište:</span>
    <span class="value">{{item.fromAddress}}</span>
  </div>

  <div class="details-ride">
    <span class="text">Odredište:</span>
    <span class="value">{{item.toAddress}} </span>
  </div>

  <div class="details-ride">
    <span class="text">Udaljenost:</span>
    <span class="value">{{item.km}} km </span>
  </div>

  <div class="details-ride">
      <span class="text">Osoba:</span>
      <span class="value">{{item.persons}} </span>
  </div>
  <div class="details-ride">
    <span class="text">Datum:</span>
    <span class="value">{{item.time}} </span>
</div>
</div>
</ion-content>
