<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-box">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Trenutni zahtjevi</ion-title>
      <img src="../../../assets/img/taxiLogo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of invoiceList; let i = index" class="my-rides">
    <div class="details-ride">
      <span class="text">Polazište:</span>
      <span class="value">{{item.fromAddress}}</span>
    </div>

    <div class="details-ride">
      <span class="text">Odredište:</span>
      <span class="value">{{item.toAddress}} </span>
    </div>

    <div class="details-ride">
      <span class="text">Udaljenost:</span>
      <span class="value">{{item.km}} km </span>
    </div>

    <div class="details-ride">
      <span class="text">Osoba:</span>
      <span class="value">{{item.persons}} </span>
    </div>

     
    <ion-radio-group (ionChange)="radioGroupChange($event, i)"> 
      <ion-row>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
        <ion-label>3</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
       <ion-label>5</ion-label>
        <ion-radio value="5"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
        <ion-label>10</ion-label>
        <ion-radio value="10"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
       <ion-label>15</ion-label>
        <ion-radio value="15"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
        <ion-label>20</ion-label>
        <ion-radio value="20"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
       <ion-label>25</ion-label>
        <ion-radio value="25"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
       <ion-label>30</ion-label>
        <ion-radio value="30"></ion-radio>
      </ion-item>
    </ion-col>
    <ion-col style="padding: 0; margin: 0;">
      <ion-item lines="none">
       <ion-label>45</ion-label>
        <ion-radio value="45"></ion-radio>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-radio-group>
  
    <button class="order-ride"  [disabled]='timeSelected[i]==null' style="background-color: green;" (click)="navigateToDrive(item, i)">Prihvati vožnju</button>
  </div>
</ion-content>