<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-box">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Naruči vožnju</ion-title>
    <button class="sos" *ngIf="isUserLoggedIn" (click)="callSOS()">SOS</button>
  </div>
  </ion-toolbar>
</ion-header>
  <ion-content class="mapp"> 
    <style>
      .map {
        height: 60% !important;
      } 
    </style>
    <div #mapElement class="map"></div> 
    <div class="location-from">
        <ion-card (click)="openStreetPicker('from')"> {{fromAddress}} </ion-card>
    </div>
    <div class="location-to">
      <ion-card (click)="openStreetPicker('to')"> {{toAddress}} </ion-card>
    </div>
    <div class="passengers">
        <div class="title">Broj putnika:</div>
        <input type="text" class="passenger-number" placeholder="Upišite broj putnika!" [(ngModel)]="numberOfPersons" />
    </div>
    <div class="btn-wrapper">
      <button class="order" (click)="orderTaxi()">{{ "customerHomepage.myRides" | translate }}</button>
    </div>
  
  </ion-content> 