<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-box">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title *ngIf="!isUserLoggedIn">Nova vožnja</ion-title>
      <ion-title *ngIf="isUserLoggedIn">Lokacije vozača</ion-title>
      <button class="sos" *ngIf="isUserLoggedIn" (click)="callSOS()">SOS</button>
      
    </div>
  </ion-toolbar>
</ion-header>
  <ion-content class="mapp"> 
    <div #mapElement     [ngStyle]="{'height': isUserLoggedIn ? '90%' : '37%', 'margin': '20px'}"></div> 
    <div class="location-wrapper" *ngIf="!isUserLoggedIn">
      <h3 class="title">Upišite tražene podatke:</h3>
      <div class="location-details">
          <span class="text">Polazište:</span>
          <span class="value">
            <ion-card class="destination" (click)="openStreetPicker('from')"> {{fromAddress}} </ion-card>
          </span>
      </div>
      <div class="location-details">
        <span class="text">Odredište:</span>
        <span class="value">
          <ion-card class="destination" (click)="openStreetPicker('to')"> {{toAddress}} </ion-card>
        </span>
      </div>
      <div class="location-details">
          <span class="text">Putnici:</span>
          <span class="value">
            <input class="passengers" type="text" placeholder="Upišite broj putnika!" [(ngModel)]="numberOfPersons" />
          </span>
      </div>
      <div class="location-details">
        <button class="order-ride" (click)="orderTaxi()">{{ "customerHomepage.myRides" | translate }}</button>
      </div>
    </div>
  </ion-content> 