.add-locations {
    margin: 45px 15px;

    ion-textarea {
        --background: #fff; 
        width: 100%;
        padding: 0 10px; 
        height: 40px;
        box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);    
        --border-radius: 0 !important;
        color: #000;        
        font-size: 12px;
        text-align: center;
        height: 45px;
        padding-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #000;
    }
    .save-locations {
        background: #393939; 
        width: 100%;
        padding: 0 10px; 
        height: 40px;
        box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);    
        --border-radius: 0 !important;
        color: #fff;        
        font-size: 12px;
        text-align: center;
        height: 45px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .text {
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0em 0em 0.3em rgba(0,0,0,0.4);
        margin-bottom: 10px;
        font-size: 13px;
    }

}
.box {
    text-align: center;
    
    .text-moto {
        font-size: 18px;
        margin-bottom: 5px;
        text-shadow: 0em 0em 0.3em rgba(0,0,0,0.4); 
        border-bottom: 1px solid #000;
        padding-bottom: 15px;
        text-transform: initial;
    }
    
    .about-img {
        max-width: 80%;
    }
}


.text-moto {
    border-bottom: 1px solid;
    padding-bottom: 15px;
    line-height: 26px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 30px 15px 30px;
    text-align: center;
    margin-top: 30px;
  }

  ion-icon {
      float: left;
      margin-left: 15px;
      margin-top: 0px;
      font-size: 30px;
  }
  ion-title{
      margin-top: 3px;
  }

  .header-box {
    display: flex;
    align-items: center;
    padding: 10px;

    ion-title {
        text-shadow: 0em 0em 0.3em rgba(0,0,0,0.4);
        --color: #000;
        text-transform: uppercase;
    }
    ion-menu-button {
        text-shadow: 0em 0em 0.3em rgba(0,0,0,0.4);
        --color: #000;
        --background: #f4f0ec;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    img {
        max-width: 50px;
    }
}