<!-- <ion-header>
  <ion-toolbar>
    <ion-icon (click) = "closeModal()"  name="ios-arrow-back"></ion-icon>
    <ion-title>Unos adrese</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-box">
      <ion-icon (click) = "closeModal()"  name="ios-arrow-back"></ion-icon>
      <ion-title>Unos adrese</ion-title>
      <img src="../../../assets/img/taxiLogo.png">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="add-locations">
    <div class="text">Upiši željenu adresu:</div>
    <ion-textarea [(ngModel)]="address"></ion-textarea>
    <button class="save-locations" (click)="passAddress()">Spremi</button>
  </div>
<div class="box">
  <img src="../../../assets/img/orderTaxi.jpg" class="about-img">
  <p class="text-moto">Najmodernija i najkvalitetnija usluga prijevoza u gradu!</p>
</div>
</ion-content> 
