<ion-header>
  <ion-toolbar>
      <!-- Advanced: explicity set the icon for each platform -->
    <ion-icon (click) = "closeModal()"  name="ios-arrow-back"></ion-icon>
    <ion-title>Unos adrese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-locations">
    <ion-textarea [(ngModel)]="address" placeholder="Unesi željenu adresu!"></ion-textarea>
    <button class="save-locations" (click)="passAddress()">Spremi</button>
</div>
<img src="https://cdn.pixabay.com/photo/2016/02/07/23/42/ill-be-right-back-1185861__340.jpg" class="about-img">
<p class="text-moto">Najkvalitetnija i najbrža usluga prijevoza u gradu!</p>
</ion-content> 
