ion-content{
    --ion-background-color:#fff;
    text-align: center;
    
    .about-img {
        max-width: 60%; 
        margin-top: 20px;
    }

    .about-text,
    .order-text {
        margin: 30px 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid #000;
    }
    
    .order-text {
        font-weight: bold;
    }
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;

    ion-title {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .sos {
        background: #DC143C;
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0;
        margin: 0 20px 0 0;
        color: white;
        font-weight: bold;
    }
}