ion-content{
    --ion-background-color:#fff;
    text-align: center;
    
    .about-img {
        max-width: 60%; 
        margin-top: 20px;
    }

    .about-text,
    .order-text {
        margin: 30px 40px;
        padding-bottom: 15px;
        border-bottom: 1px solid #000;
    }
    
    .order-text {
        font-weight: bold;
    }
}