<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>O nama</ion-title>
      <button *ngIf="isUserLoggedIn" (click)="callSOS()">SOS</button>
    </ion-toolbar>
  </ion-header> 
<ion-content>
    <img src="http://murataxi.com/images/resources/taxiLogo.png" class="about-img">

    <p class="about-text">Mura TAXI usluge, jednostavno društvo s ograničenom odgovornošću za prijevoz i druge usluge, osnovano u studenom 2019 godine. 
      Poslujemo u dva grada, Murskom Središću i Čakovcu te trenutno brojimo 4 zaposlenika.
       Opremljeni smo najnovijim vozilima te pružamo najmodernije usluge prijevoza. </p>
      <p class="order-text">NARUČI SVOJU VOŽNJU ODMAH!</p>
      <p class="order-text">POTPUNO BESPLATNO!</p>
<!-- <p>{{ "HOME.title" | translate }}</p> -->

</ion-content>
