<ion-header>
  <ion-toolbar>
      <!-- Advanced: explicity set the icon for each platform -->
  <ion-icon (click) = "closeModal()"  name="arrow-back"></ion-icon>
    <ion-title>Novi zahtjev za vožnju!</ion-title>
  </ion-toolbar>
</ion-header>
<!-- "{"username":null,"type":"customer","messageType":"DRIVE_REQUEST","fromLat":"45.333","fromLong":"16.444","toLat":"45.333","toLong":"16.444"}" -->
<ion-content class="request-wrapper">
  <div class="img-wrapper">
    <img src="http://murataxi.com/images/app/callTaxi1.png" class="menu-img">      
    
</div>
 <div class="drive-request">
    <div class="location-from">
        <span class="text">Polazište:</span>
        <span class="value">{{fromAddress}}</span> 
    </div>

    <div class="location-from">
        <span class="text">Odredište:</span>
        <span class="value">{{toAddress}}</span>
    </div>

    <div class="location-from">
      <span class="text">Broj putnika:</span>
    <span class="value">{{message.persons}}</span>
    </div>
    <ion-item>
      <ion-label>Vrijeme:</ion-label>
      <ion-select [(ngModel)]="selectedTime">
        <ion-select-option value="2">2 min</ion-select-option> 
        <ion-select-option value="5">5 min</ion-select-option> 
        <ion-select-option value="10">10 min</ion-select-option> 
        <ion-select-option value="15">15 min</ion-select-option> 
        <ion-select-option value="20">20 min</ion-select-option> 
        <ion-select-option value="25">25 min</ion-select-option> 
        <ion-select-option value="30">30 min</ion-select-option> 
        <ion-select-option value="45">45 min</ion-select-option> 
        <ion-select-option value="60">60 min</ion-select-option> 
      </ion-select>
    </ion-item>
    <div class="buttons">
      <button class="btn accept" (click) = "acceptRequst()" > Prihvati</button>
      <button class="btn reject" (click) = "closeModal()"  > Odbij</button>
    </div> 
 
  </div>
</ion-content>
