<ion-header>
    <ion-toolbar>
        <!-- Advanced: explicity set the icon for each platform -->
    <ion-icon style="height: 30px;" name="arrow-back"></ion-icon> 
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="insert-text">

      Unesite broj mobitela:
    </div>
    <div class="submit-number">
    <ion-input [(ngModel)]="phoneNumber" placeholder="xxx xxx xxx" class="area-number"></ion-input> 
    <button (click) = "saveNumber()">Spremi</button>
    </div>
   </ion-content>  
  