<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Driver homepage</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="mapp">
  <style>
    .map {
      height: 80% !important;
    }
  </style>
  <div #mapElement class="map"></div> 
<ion-button *ngIf="isDriveStarted" href="tel:{{phoneNumber}}">>Call Customer</ion-button>
  <ion-button *ngIf="isDriveStarted" (click)="endDrive()" >End Drive</ion-button>
  <br />
</ion-content>