<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="price">
            <h2><span jhiTranslate="taximuraApp.price.detail.title">Price</span> {{ price.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taximuraApp.price.amount">Amount</span></dt>
                <dd>
                    <span>{{ price.amount }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.price.fromPlace">From Place</span></dt>
                <dd>
                    <span>{{ price.fromPlace }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.price.toPlace">To Place</span></dt>
                <dd>
                    <span>{{ price.toPlace }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.price.fromLat">From Lat</span></dt>
                <dd>
                    <span>{{ price.fromLat }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.price.fromLong">From Long</span></dt>
                <dd>
                    <span>{{ price.fromLong }}</span>
                </dd>
                <dt><span jhiTranslate="taximuraApp.price.toLat">To Lat</span></dt>
                <dd>
                    <span>{{ price.toLat }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price', price.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
