<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-price-heading" jhiTranslate="taximuraApp.price.home.createOrEditLabel">Create or edit a Price</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.fromPlace" for="field_fromPlace">From Place</label>
                    <input type="text" class="form-control" name="fromPlace" id="field_fromPlace"
                           formControlName="fromPlace"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.toPlace" for="field_toPlace">To Place</label>
                    <input type="text" class="form-control" name="toPlace" id="field_toPlace"
                           formControlName="toPlace"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.fromLat" for="field_fromLat">From Lat</label>
                    <input type="text" class="form-control" name="fromLat" id="field_fromLat"
                           formControlName="fromLat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.fromLong" for="field_fromLong">From Long</label>
                    <input type="text" class="form-control" name="fromLong" id="field_fromLong"
                           formControlName="fromLong"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taximuraApp.price.toLat" for="field_toLat">To Lat</label>
                    <input type="text" class="form-control" name="toLat" id="field_toLat"
                           formControlName="toLat"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
